@model Employee
@{
    ViewData["Title"] = "Details";
}

@*Learning References:
https://jonhilton.net/aspnet-core-forms-cheat-sheet/
https://www.learnrazorpages.com/razor-pages/forms/radios
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-5.0#expression-names*@

<div class="container">
    <div class="card">
        <div class="card-header">
            Employee Details
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="Id">Id</label>
                    <input type="text" class="form-control" asp-for="Id" readonly />
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" asp-for="Name" readonly />
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="radio" class="form-check-input" asp-for="Gender" value="M" />Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="radio" class="form-check-input" asp-for="Gender" value="F" />Female</label>
                </div>
                <div class="form-check">
                    <label><input type="checkbox" class="form-check-input" asp-for="IsActive" />Is Active</label>
                </div>
                <div class="form-check">
                    <label><input type="checkbox" class="form-check-input" asp-for="IsNew" />Is New</label>
                </div>
                <label asp-for="Department">Department</label>
                <select class="form-control " asp-for="Department">
                    <option value="101">Sales</option>
                    <option value="102">Marketting</option>
                    <option value="103">Purchase</option>
                </select>
                <label asp-for="Designation">Designation</label>
                <select class="form-control " asp-for="Designation">
                    <option value="101">Manager</option>
                    <option value="201">Project Manager</option>
                    <option value="301">Team Leader</option>
                </select>
                <label asp-for="Suffix">Suffix</label>
                <select class="form-control" asp-for="Suffix" asp-items="@ViewBag.suffixListItems">
                </select>
            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
