
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Product Index
        </div>
        <div class="card-body">
            <div class="card-title">
                Allows user to access product list with details of product
            </div>
            <div class="card-body">
                <p>@Html.ActionLink("Product List", "List", "Product") </p>
                <p>@Html.ActionLink("Product cards", "ListWithImages", "Product") </p>
            </div>

        </div>
        <div class="card-footer">

        </div>
    </div>
</div> 

